@import "tailwindcss";
@plugin "daisyui";
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "poppins" , sans-serif;
}
h1,h2{
  font-family: "Roboto", sans-serif;
}
@layer utilities {
  .gradient {
    background: linear-gradient(-45deg, #302B63, #00bf8f, #1cd8d2);
  }
}
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

body {
  overflow-x: hidden;
}
